//背景樣式
.doctors {
    background-color: $gray-200;
}

//標題樣式
.star-doctor {
    position: relative;

    &::before {
        content: '';
        width: 40%;
        height: 3px;
        background-color: $info;
        position: absolute;
        left: -50%;
        top: 50%;
    }


    &::after {
        content: '';
        width: 40%;
        height: 3px;
        background-color: $info;
        position: absolute;
        right: -50%;
        top: 50%;
    }
}

//卡片樣式
.doctors .card {
    font-family: 'Kalam', cursive;
    border-radius: $border-radius-2xl;

    img {
        border-radius: $border-radius-2xl;
    }
}

.bg-dark-gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.card-img-overlay {
    opacity: 0;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
}

.doctors .card:hover {
    .card-img-overlay {
        opacity: 1;
        transition-delay: 0.3s;
        transition-timing-function: ease-in;
        transition-duration: 0.3s;
    }
}