//banner樣式
.doc-banner {
    height: 360px;
    background-position: 50% 70%;
}

@media (min-width:992px) {
    .doc-banner {
        height: 450px;
        background-position: 50% 70%;
    }
}

@media (min-width:1200px) {
    .doc-banner {
        background-position: 50% 35%;
    }
}

//科別樣式
.service-dept a {
    font-size: 14px;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 6px 0;

    &:hover {
        border-color: $info;
        box-shadow: inset 0 0 0 1px $info;
    }
}

.service-dept .active {
    border-color: $info;
    box-shadow: inset 0 0 0 1px $info;
}

@media (min-width:768px) {
    .service-dept a {
        padding: 10px 21px;
    }
}

//醫生詳細介紹
.doc-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


//醫生card遮罩效果
.doc-card {
    position: relative;
    cursor: pointer;
    border: 1px solid $gray-300;
    border-bottom-left-radius: $border-radius-xl;
    border-bottom-right-radius: $border-radius-xl;
}

.mask {
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: rgba($color: $dark, $alpha: 0.8);
    opacity: 1;
    transition: 0.6s;
}

.doc-card:hover {
    border: 1px solid transparent;

    .mask {
        opacity: 0;
    }
}

@media (min-width:992px) {
    .doc-card {
        border-bottom-left-radius: $border-radius;
        border-top-right-radius: $border-radius-xl;
    }

    .mask {
        width: 40%;
        height: 100%;
    }
}